.fr {
	float:right;
	padding:25px;
	padding-top:15px;
}

p {
	font-family:arial,sans-serif;
}

h1{
	font-size:2.5em;
	color:#474973;
	font-family:"Garamond","Times New Roman", times, serif;
	text-decoration:underline;
	padding:10px;
	text-align:center;
}

img{
	margin:auto;
	display:block;
}

h2{
	font-size:1.5em;
	color:#474973;
	font-family:"Garamond","Times New Roman", times, serif;
	text-decoration:underline;
	
}
h3{
	font-size:1.2em;
	color:#474973;
	font-family:"Garamond","Times New Roman", times, serif;
	text-decoration:underline;
	
}
.clear{
	clear:both;
}
body{
	background:#A7C6DA;
	max-width:1500px;
	margin:auto;
}
#container{
	background:#E2ECF3;
}
#menu{
	text-align:center;
}
#submenu{
	text-align:center;
}
section{
	background:#E2ECF3;
	color:#161B33;
	margin:30px;
	box-shadow: 0 0 5px 5px #E2ECF3;
	display:block;
	clear:both;
}
li{
	font-family:arial,sans-serif;
}
.teammember{
	width: 19%;
	min-width:250px;
	display:inline-block;
	vertical-align:top;
	padding:5px;
}
.fullgroup{
	width: 95%;
	min-width:90%;
	display:inline-block;
	vertical-align:top;
}
.sectionTitle{
	
}
.sectionContent{
	
}
a{
	color:#43529D;
}
table{
	max-width:90%;
	
	font-family:arial,sans-serif;
	
}
td{
	padding:5px;
}
figure{
	float:left;
}

.ra{
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
}

article{
	margin:25px;
}

figcaption{
	text-align:center;
	font-style:italic;
	margin:5px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom:15px;
  margin-left:5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #E2ECF3;
  background-color: #161B33;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 10px 5px #666;
}
.button:hover {background-color: #252D56}

.button:active {
  background-color: #8D98CE;
  box-shadow: 5px 10px 5px #666;
  transform: translate(3px,3px);
}

.subbutton {
  display: inline-block;
  padding: 10px 10px;
  margin-bottom:15px;
  margin-left:5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #E2ECF3;
  background-color: #161B33;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 10px 5px #666;
}
.subbutton:hover {background-color: #252D56}

.subbutton:active {
  background-color: #8D98CE;
  box-shadow: 5px 10px 5px #666;
  transform: translate(3px,3px);
}